* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}

header img {
  width: 8rem;
}

nav {
  display: flex;
  gap: 2rem;
}
.about-button{
  background-color: #F5F5F5;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
.contact-button {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
nav a {
  color: #000;
  text-decoration: none;
}

.menu-icon {
  display: none;
}

/* Hero */

.hero {
  min-height: 70vh;
  background-image: url("images/header bg.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
}

.book-button {
  background-color: #000;
  color: #fff;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 0.3rem;
}

/* Gallery */

.gallery {
  padding: 1.5rem;
}

.gallery img {
  width: 100%;
}

/* About */

.about-section {
  padding: 3rem 5%;
}

.about-section h2 {
  margin-bottom: 0.5rem;
}

.features {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.feature {
  width: 33.33%;
}

/* Testimonials */

.testimonials {
  background-color: #d9f1f7;
  padding: 3rem 5%;
}

.testimonial-cards {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.testimonial {
  background-color: white;
  padding: 1rem;
  flex: 1;
  border-radius: 0.5rem;
}

.customer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.customer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.customer div {
  display: flex;
  flex-direction: column;
}

.customer-name {
  color: #757575;
  margin: 0;
}

.customer-description {
  color: #B3B3B3;
  margin: 0;
}
/* Footer */

footer {
  background-color: white;
  color: black;
  padding: 2rem 5%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.footer-brand {
  width: 18%;
}

.footer-content > div {
  min-width: 10%;
}

.footer-content iframe {
  width: 32%;
  height: 12rem;
  border: 0;
}

.footer-brand img {
  width: 5rem;
}



/* Mobile */

@media (max-width: 768px) {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 1.5rem;
  }

  .hero {
    min-height: 60vh;
    padding: 2rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .gallery {
    padding: 2rem 5%;
  }

  .features {
    flex-direction: column;
  }

  .feature {
    width: 100%;
  }

  .testimonial-cards {
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
    gap: 1rem;
  }
.footer-content {
  flex-direction: column;
}


.footer-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content iframe {
  width: 100%;
  margin-left: 0;
}
}